---
import Project1Slider from '@/components/before-after-slider/project1.astro'; 
import Project2Slider from '@/components/before-after-slider/project2.astro'; 

const projects = [
	{
		img: '/project1.png',
		name: 'Modern Kitchen',
		text: 'Decor / Artchitecture'
	},
	{
		img: '/project2.png',
		name: 'Modern Bedroom',
		text: 'Decor / Artchitecture'
	},
	{
		img: '/project3.png',
		name: 'Modern Dining Hall',
		text: 'Decor / Artchitecture'
	},
	{
		img: '/project4.png',
		name: 'Modern Living Room',
		text: 'Decor / Artchitecture'
	},
]

---
<section class="lg:max-w-[1200px] px-12 xl:px-0 w-full mx-auto pt-[100px] lg:pt-[10px] ">
    <h2 class="font-dm tracking-wide text-center leading-[37px] lg:leading-[62.50px] text-[30px] lg:text-[50px] w-full lg:max-w-[50%] pb-2 mx-auto">Follow Our Projects</h2>
    <p class="text-base md:text-[22px] text-center tracking-tight font-jost text-text-gray leading-[33px] lg:max-w-[60%] mx-auto">Join us on a visual journey through our projects – a testament to our passion for elevating spaces to the peak of cleanliness and serenity. Your dream space is just a click away from becoming a Prime masterpiece!</p>
	<Project1Slider />
	<Project2Slider />
</section>