---
import SmilingChild from "@/assets/images/smiling-child.jpg"
const {image} = Astro.props
---
<div
    class = "w-[300px] h-[300px] sm:w-[530px] sm:h-[530px] lg:w-[360px] lg:h-[360px] xl:w-[530px] xl:h-[530px] rounded-full m-auto border-slate-300 border-solid border-[1px] relative"
>
    <div
        class  = "w-[280px] h-[280px] sm:w-[500px] sm:h-[500px] lg:w-[330px] lg:h-[330px] xl:w-[500px] xl:h-[500px] rounded-full m-auto absolute inset-0 overflow-hidden"
    >
        <img 
            src = {image.src}
            class = "object-cover w-full h-full"
            alt="smiling child"
        />
    </div>
</div>