---
import MainLayout from '../layouts/main-layout.astro'
import QuoteText from '../components/quote.tsx'
import  Facebook  from '../icons/facebook.tsx';
import  Twitter  from '../icons/twitter.tsx';
import  LinkedIn  from '../icons/linkedin.tsx';
import Instagram  from '../icons/instagram.tsx';
import CTAsection from "@/components/CTA-section/index.astro"; 
import WhatWeDo from "@/components/about-page/what-we-do.astro"; 
---
<MainLayout 
  title = 'Prime Cleaning - About Us'
  customDescription="Learn more about the history of Prime Cleaning Co."
  CTA = {false}
  >
  <!-- Banner Section -->
  <section class="w-full bg-about h-[50vh] flex justify-center items-end">
    <div class="py-[30px] lg:py-[41px] px-[60px] lg:px-[152px] flex flex-col justify-center items-center bg-white rounded-tl-[37px] rounded-tr-[37px] gap-2.5">
      <h1 class="text-[30px] leading-[40px] lg:text-[50px] lg:leading-[62px] font-dm capitalize text-primary-200 ">About Us</h1>
      <p class="text-base lg:text-[22px] lg:leading-[33px] tracking-tight font-jost text-text-gray"> <a href="/">Home</a> / About Us </p>
    </div>
  </section>
  <!-- <AboutSection /> -->
  <WhatWeDo />
  
  <section class="w-full pt-[100px] lg:pt-[150px] px-12 lg:px-0 mx-auto lg:max-w-[1200px] ">
    <div class="w-full flex flex-col-reverse lg:flex-row-reverse justify-between gap-24 items-center">
      <div class="flex flex-col gap-6">
        <h2 class="text-[30px] text-center lg:text-left font-dm tracking-wide capitalize leading-8 md:leading-[62.50px] md:text-[50px] text-text-blue ">What the Process Looks Like:</h2>
        <p class="text-base md:text-[22px] lg:max-w-[95%] text-center lg:text-left tracking-tight font-jost text-text-gray leading-[33px]">Our cleaning process is a symphony of precision and care. It starts with understanding your unique requirements, followed by meticulous planning and execution. Our skilled team employs cutting-edge technology and eco-friendly practices to deliver a thorough and efficient clean. From the initial consultation to the final sparkling result, the Prime Cleaning Co. process is designed for excellence.</p>
      </div>
      <img src="/about1.png" alt="">
    </div>
  </section>

  <!-- The End Result Section -->

   <section class="w-full pt-[100px] lg:pt-[150px] px-12 lg:px-0 mx-auto lg:max-w-[1200px] ">
    <div class="w-full flex flex-col-reverse lg:flex-row-reverse justify-between gap-24 items-center">
      <img src="/about2.png" alt="">
      <div class="flex flex-col gap-6">
        <h2 class="text-[30px] text-center lg:text-left font-dm tracking-wide capitalize leading-8 md:leading-[62.50px] md:text-[50px] text-text-blue ">What We Will Deliver for You</h2>
        <p class="text-base md:text-[22px] lg:max-w-[95%] text-center lg:text-left tracking-tight font-jost text-text-gray leading-[33px]">Choosing Prime Cleaning Co. means choosing an unparalleled standard of cleanliness. We pledge to deliver not just a clean space but an environment of blissful tranquility. With our attention to detail, skilled professionals, and commitment to your satisfaction, we promise a living or working space that reflects the Prime standard – where every corner is a testament to our dedication to perfection.</p>
      </div>
    </div>
  </section>

  <!-- What People Think About Us Section -->
  <!-- Quote Section -->
  <div class = "w-full h-fit [&>*]:mx-auto">
    <QuoteText 
      text="As a business owner, I needed a cleaning service that understands the unique needs of a commercial space. Prime Cleaning Co. not only met but exceeded my expectations. Their efficiency and commitment to quality make them my go-to for maintaining a pristine office environment. Highly recommended!"
      name="BERNIE WILLIAMS"
      />
  </div>
  <CTAsection />
</MainLayout>
<style>

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

</style>
<script is:inline>
  	const callback = (entries) => {
		entries.forEach((entry, index)=>{
			if(entry.isIntersecting){
				if(entry.target.classList.contains("fadeInTag"))
				{
          console.log('fired')
					entry.target.classList.remove("fadeOut")
				}
			}
			else{
				if(entry.target.classList.contains("fadeInTag"))
				{
					entry.target.classList.add("fadeOut")
				}
			}
		})
	}
	const options = {
		threshold: 0.1, 
	} 

	const observer = new IntersectionObserver(callback, options)
	const FadeIn = document.getElementsByClassName("fadeInTag");
	for(var i = 0; i < FadeIn.length; i++){
			observer.observe(FadeIn[i])
	}
</script>