---
import MainLayout from '../layouts/main-layout.astro'
import ContactInfo from '../components/contact-box.astro'
import ContactForm from '../components/contact-form.tsx'; 
---


<MainLayout 
title = 'Interior Design Contact Us'
customDescription = "Send us a message"
>

  <!-- Banner Section -->

  <section class="w-full bg-contact h-[50vh] block bg-no-repeat bg-center justify-center items-center pt-[72px] md:pt-[150px] before:w-full before:h-[50vh] before:content-[''] before:bg-black before:opacity-30 before:z-[1] before:absolute overflow-hidden relative">
    <div 
    class="pattern-layer absolute left-0 right-0 bottom-[0px] bg-repeat-x h-[100px] w-full z-[2] bg-[url('/soap-pattern.png')]"
   
    ></div>
    <h1 class="text-[20px] sm:text-[30px] lg:text-[40px] px-5 font-dm capitalize text-center text-white z-[2] block relative top-[50%] translate-y-[-50%]">Satisfaction and a peace of mind is our guarantee.</h1>

  </section>

  <!-- Intro Section -->

	<section class="lg:max-w-[1200px] flex flex-col gap-8 lg:gap-10 px-5 sm:px-12 xl:px-0 w-full mx-auto lg:pt-[10px]">
    <!-- main section -->
    <div class="grid grid-cols-1 gap-[55px] pt-20 lg:grid-cols-3 place-content-center">
      <ContactInfo />
      <ContactForm />
    </div>
	</section>

 

</MainLayout>

<style>

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

</style>