---
import FurnitureImg from "@/assets/images/furniture.jpg"; 
import FadeIn from "../interactive/fadeIn.astro"; 
import './style.css'
import Button from "../buttons/link.astro"; 
console.log("FurnitureImg: ", FurnitureImg)
---
<section 
class="w-full bg-primary-300 px-12 xl:px-0 mx-auto mt-[100px] lg:mt-[200px] py-[151px] bg-no-repeat relative lg:bg-fixed before:bg-black before:opacity-50 before:absolute before:z-[0] before:w-full before:h-full before:inset-0 bg-[url('./furniture.jpg')]"
style = {{backgroundImage: `url(${FurnitureImg.src})`}}
>
<div class="block sm:hidden custom-shape-divider-top-1703281863">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill" fill="white"></path>
    </svg>
</div>
<div class="hidden sm:block custom-shape-divider-top-1703023961">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill" style="fill:white"></path>
    </svg>
</div>
<div 
    class="w-full max-w-[1200px] mx-auto flex flex-col gap--10 lg:flex-row lg:justify-center items-center overflow-x-hidden no-scrollbar z-[3] overflow-visibile"
    >
    <div
        class = "text-white block relative max-w-[450px] mb-10 sm:mb-0 sm:pr-20"
    >
        <FadeIn>
            <h3 
                class = "font-dm text-white text-2xl sm:text-4xl"
            >Are you interested in working with us?</h3>
        </FadeIn>
        <p>Schedule Your Sparkling Transformation! Because a Spotless Home is a Happy Home – Let's Prime It Up!</p>
    </div>
    <Button 
        text = "Get in Touch"
        link = "./contact"
    />
</div> 
</section>