:root {
  --thumb-height: 40px;
  --thumb-width: 40px;
  --thumb-backgroundImg: "/assets/icons/scroll-arrows-white.webp";
  --bRadius: 100px;
  --borderStyle: 2px #ffffff solid;
  --trackBackgroundC: rgba(0, 0, 0, 0);
  --trackHeight: 0px;
  --trackWidth: 150%;
}
/* WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
  background-color: rgba(100, 100, 100, 0); /* Set the color of the thumb */
  border: var(--borderStyle); /* Set the border of the thumb */
  /*border: 1px solid #333; */
  border-radius: var(--bRadius); /* Make the thumb round */
  height: var(--thumb-height); /* Set the height of the thumb */
  width: var(--thumb-width); /* Set the width of the thumb */
  cursor: pointer; /* Change the cursor on hover */
  -webkit-appearance: none; /* Remove the default appearance */
  margin-top: -12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-image: url("/assets/icons/scroll-arrows-white.webp") no-repeat
    center;
}

input[type="range"]::-webkit-slider-thumb::before {
  content: "";
  background-color: #000000;
  width: 100px;
  height: 100px;
  z-index: 99;
}

input[type="range"]::-webkit-slider-runnable-track {
  /* width: var(--trackWidth);  */
  height: var(--trackHeight); /* Set the height of the track */
  background-color: var(--trackBackgroundC); /* Set the color of the track */
  border-radius: 3px; /* Make the track slightly rounded */
  cursor: pointer; /* Change the cursor on hover */
}

/* Remove the default styles on Firefox */
input[type="range"].range-style {
  -moz-appearance: none !important;
}

/*fire fox*/
input[type="range"]::-moz-range-thumb {
  border: var(--borderStyle);
  border-radius: var(--bRadius);
  height: var(--thumb-height);
  width: var(--thumb-width);
  background-color: var(--trackBackgroundC);
  cursor: pointer;
  margin-top: -8px;
}

/*fire fox*/
input[type="range"]::-moz-range-track {
  height: 0px; /* Remove the visible height */
  background: transparent; /* Make it transparent */
  border: none; /* Remove any default border */
  margin: 0px; /* Remove spacing influence */
  padding: 0px; /* Remove any padding influence */
}

input[type="range"]::-moz-range-track {
  height: 0px;
  background: transparent;
  border: none;
}

/* Custom styles for non-WebKit browsers */
input[type="range"] {
  appearance: none;
}

input[type="range"]::-ms-thumb {
  border: var(--borderStyle);
  border-radius: var(--bRadius);
  height: var(--thumb-height);
  width: var(--thumb-width);
  cursor: pointer;
  margin-top: -8px;
  background-image: url("/assets/icons/scroll-arrows-white.webp") no-repeat
    center;
}

input[type="range"]::-ms-track {
  /* width: var(--trackWidth); */
  height: var(--trackHeight);
  background-color: var(--trackBackgroundC);
  cursor: pointer;
}
