@font-face {
    font-family: "DM Serif Display";
    src: local("DMSerifDisplay-Regular"),
     url('/fonts/DMSerifDisplay-Regular.ttf') format("truetype");
    font-style: normal; 
    font-weight: 400; 
    }
    
@font-face {
    font-family: "DMSerifDisplay-Italic";
    src: local("DMSerifDisplay-Italic"),
        url('/fonts/DMSerifDisplay-Italic.ttf') format("truetype");
    font-weight: 400;
    }

.about-box-shadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }