---
import ForeGroundImg from "@/assets/images/faq/cleaning-worker.webp"; 
import ForeGroundImg2 from "@/assets/images/faq/brush.webp"; 
import BackGroundImg from "@/assets/images/faq/cleaned-office.webp"; 
import './style.css'
---
<div
    class = "w-full sm:w-6/12 mx-auto justify-center"
>
    <div
    class = "sm:h-fit relative top-[25%] hidden sm:block"
    >
        <div
            id ="ForeGroundImg1"
            class = "overflow-hidden w-[325px] h-auto absolute parallaxProp z-[2] sm:right-[-150px] box_shadow"
        >
            <img 
                decoding = "async"
                loading = "lazy"
                src = {ForeGroundImg.src} 
                class = "w-full h-full object-cover m-auto"
                alt = "ForeGroundImg1"
            />
        </div>
        <div
            id ="ForeGroundImg2"
            class = "overflow-hidden w-11/12 h-auto absolute parallaxProp z-[1] sm:left-[-75px] box_shadow"
        >
            <img 
                decoding = "async"
                loading = "lazy"
                src = {ForeGroundImg2.src} 
                class = "w-full h-full object-cover m-auto"
                alt = "ForeGroundImg2"
            />
        </div>
        <div
            class = "overflow-hidden w-[300px] h-auto absolute parallaxProp z-[0]"
        >
            <img 
                decoding = "async"
                loading = "lazy"
                src = {BackGroundImg.src} 
                class = "w-full h-full object-cover m-auto"
                alt = "background image"
            />
        </div>
    </div>
</div>
<script is:inline>
    const ForeGroundImage = document.getElementById("ForeGroundImg1")
    const ForeGroundImg2 = document.getElementById("ForeGroundImg2")
    console.log("ForeGroundImage", ForeGroundImage )
    const scrollEvent = () =>{
        if(ForeGroundImage)
            ForeGroundImage.style.transform = `translateY(${-window.scrollY}px)`
        if(ForeGroundImg2)
            ForeGroundImg2.style.transform = `translateY(${-window.scrollY/2}px)`
    }
    window.addEventListener("scroll", scrollEvent);
</script>